<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LAE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="homeBG">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3"  style="background-color: rgba(0, 0, 0, 0.30); color: #fff;"> 
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">LAE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Events/Session/Create">Create Group</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Events/Event/Create">Create Event</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer" style="background-color: rgba(0, 0, 0, 0.30); color: #fff;">
        <div class="container">
            <div class="row box-shadow d-none" style="background-color: rgba(0, 0, 0, 0.30); display: flex; flex-grow: 1">

                <div class="col-sm-12 col-md-4 text-center">
                    <img src="~/Images/exitlag.png" alt="ExitLag" style="max-height: 50px;"/><br />
                </div>

                <div class="col-sm-12 col-md-4 text-center">
                    <img src="~/Images/vpnGame.png" alt="VPN Game" style="max-height: 50px;"/><br />
                </div>

                <div class="col-sm-12 col-md-4 text-center">
                    &copy; 2020 - LAE
                </div>

            </div>
            
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
