@page
@model LAE.Pages.Events.Types.IndexModel

@{
    ViewData["Title"] = "List";
}

@if (Model.LoggedInUser != null)
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventType[0].Type)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EventType)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        <a asp-page="./Delete" asp-route-id="@item.TypeId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}