@page
@model LAE.Pages.Events.Events.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EventInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventInfo.Id" />
            <div class="form-group">
                <label asp-for="EventInfo.StartingTime" class="control-label"></label>
                <input asp-for="EventInfo.StartingTime" class="form-control" />
                <span asp-validation-for="EventInfo.StartingTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EventInfo.isActive" /> @Html.DisplayNameFor(model => model.EventInfo.isActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
